<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <a routerLink="/lugares">
        <li class="breadcrumb-item active" aria-current="page">Lugares</li>
      </a>/Contacto
    </ol>
  </nav>
</div>
<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <label>Nombre</label>
      <input type="text" class="form-control">
      <br>
      <label>Correo</label>
      <input type="email" class="form-control">

      <br>
      <label>Mensaje</label>
      <textarea class="form-control"></textarea>
      <hr>
      <a class=" btn btn-primary">Enviar</a>
      <a class=" btn btn-default" routerLink="/lugares">Cancelar</a>
    </div>
  </div>
</div>